set timeout=1

menuentry '{{ iso_url | basename | splitext | first }} (PXE)' {
    insmod http
    set root=http,{{ ansible_default_ipv4.address }}
    linux /os/images/pxeboot/vmlinuz \
        ip=dhcp \
        inst.ks=http://{{ ansible_default_ipv4.address }}/init-config/${net_default_mac}.ks
    initrd /os/images/pxeboot/initrd.img
}
