{{- if .Values.ingress_nginx.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ .Values.argocd.project }}-ingress-nginx
  namespace: {{ .Values.argocd.namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "0"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ .Values.argocd.project }}
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: in-cluster
    namespace: ingress-nginx
  source:
    chart: ingress-nginx
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: 4.2.5
    helm:
      releaseName: {{ .Values.argocd.project }}-ingress-nginx
      values: |
        controller:
          service:
            annotations:
              metallb.universe.tf/address-pool: default
          ingressClassResource:
            name: nginx
            enabled: true
            default: true
            controllerValue: "k8s.io/ingress-nginx"
          extraArgs:
            enable-ssl-passthrough: true
          metrics:
            enabled: true
            serviceMonitor:
              enabled: true
          admissionWebhooks:
            enabled: false
            failurePolicy: Ignore
          config:
            custom-http-errors: >-
              401,403,404,500,501,502,503
        defaultBackend:
          enabled: true
          image:
            repository: ghcr.io/tarampampam/error-pages
            tag: 2.16.0
          extraEnvs:
          - name: TEMPLATE_NAME
            value: ghost
          - name: SHOW_DETAILS # Optional: enables the output of additional information on error pages
            value: 'true'
{{- end }}
