certifi
charset-normalizer
click
ghp-import
idna
importlib-metadata
Jinja2
Markdown
MarkupSafe
mergedeep==1.3.4
mkdocs
mkdocs-material
mkdocs-material-extensions
packaging
Pygments
pymdown-extensions
pyparsing
python-dateutil==2.9.0.post0
PyYAML==6.0.1
pyyaml_env_tag==0.1
requests
six==1.16.0
urllib3
watchdog
zipp
