name: Conventional pull request title
on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize
jobs:
  pr-title-lint:
    name: Validate PR title
    runs-on: [ubuntu-latest]
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.CI_TOKEN }}
  lint:
    name: Helm lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.8.1

      - uses: actions/setup-python@v5
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.1
      
      - name: Lint Helm charts
        run: ct lint --target-branch ${{ github.event.repository.default_branch }}
