name: Renovate
on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.7
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v40.2.4
        with:
          configurationFile: renovate.json5
          token: ${{ secrets.CI_TOKEN }}
