name: Renovate
on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.2
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v39.0.1
        with:
          configurationFile: renovate.json5
          token: ${{ secrets.CI_TOKEN }}
